  .form {
      display: flex;
  }

  .input {
      border: none;
      border-radius: 0;
      padding: 5%;
      width: 80%;
      font-size: 1.2em;
      transition: 0.3s;
  }

  .input-light {
      background-color: white;
  }

  .input-dark {
      background-color: #1e2339;
      color: white;
  }

  input:focus, textarea:focus, select:focus {
      outline: none;
  }

  .sendButton {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      background: #a329ff;
      ;
      padding: 20px;
      display: inline-block;
      border: none;
      width: 20%;
  }