html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.dark {
    background-color: #1A1A1D;
    color: #fff;
    transition: 0.3s;
}

.light {
    background-color: #fff;
    color: black;
    transition: 0.3s;
}

.joinOuterContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 90vh;
}

.welcomeContainer {
    margin-top: 80px;
}

.joinInnerContainer {
    width: 20%;
    align-self: center;
}

.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
}

.welcome {
    font-size: 45px;
    padding-top: 50px;
}

.welcome-image {
    width: 300px;
}

.heading {
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.heading-dark {
    border-bottom: 2px solid white;
}

.button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #a329ff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 500px) {
    .joinOuterContainer {
        height: 100%;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .joinInnerContainer {
        width: 90%;
    }
    .welcomeContainer {
        margin-top: 0px;
    }
    .welcome {
        padding-top: 10px;
        margin: 10px;
    }
    .welcome-image {
        width: 250px;
    }
}

button:focus {
    outline: 0;
}