.navbar-light {
    text-align: left;
    background-color: #3c3c3c;
    transition: 0.3s;
}

.navbar-dark {
    text-align: left;
    background-color: #35333b;
    transition: 0.3s;
}

.navbar-brand {
    margin-left: 50px;
}

.nav-logo {
    width: 75px;
    margin: 10px;
}

.nav-right {
    /* float: right; */
    color: #fff;
    margin: 15px;
    /* margin-top: 30px; */
}

.vs {
    font-size: 12px;
    margin-left: 65px;
    color: #d0d0d0
}

.vs>a {
    color: #cb85ff
}

@media (max-width: 500px) {
    .navbar-brand {
        margin-left: 20px;
    }
    .vs {
        margin-left: 40px;
        font-size: 11px;
    }
}