.navbar-light {
    text-align: left;
    background-color: #3c3c3c;
    transition: 0.3s;
}

.navbar-dark {
    text-align: left;
    background-color: #35333b;
    transition: 0.3s;
}

.navbar-brand {
    margin-left: 50px;
}

.nav-logo {
    width: 80px;
    margin: 10px;
}

.nav-right {
    /* float: right; */
    color: #fff;
    margin: 15px;
    /* margin-top: 30px; */
}